<% if  current_user && (current_user.admin? && (session[:user_id] != session[:showing])) %>
  <h1>Admin mode. Viewing as <%= User.find(session[:showing]).full_name%></h1>
<% end %>
<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>rotten mangoes</h1>
        </div>
        <div class="sign-up-button">
          <%= link_to "Sign up now!", new_user_path, class: "btn btn-primary btn-xl" %>
        </div>
    </div>
</header>
<%= render 'index' %>
