/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "index";
 @import "movies";
 @import "reviews";
 @import "sessions";
 @import "users";

 body{
   margin: 0px 0px 0px 0px;
   padding:5px;
 }

img{
  max-height: 450px;
  max-width: 314px;
}


 #movie-img-col{
   margin:auto;
 }

 #movie-content-col{
   margin-top:100px
 }

 #movie-show-row{
   margin-top: 20px;
 }

 #movie-search{
   margin-top:20px;
   margin-bottom:20px;
 }

footer{
  margin-top:10px;
  margin-left:10px;
}

#new-movie-row{
  margin-top:10px;
}

#user-reviews{
  overflow-y: scroll;
  list-style: none;
  max-height: 550px;
  margin-bottom: 50px;
}

#user-show-container{
  margin-top:50px;
}

.ind-review{
  border-color: black;
  border-width: 0.5px;
  border:solid;
  margin-bottom: 2px;
}

#show-reviews{
  overflow-y: scroll;
  max-height:auto;
}

#search-submit{
  margin-top:5px;
  margin-bottom:5px;
}

#user-mngmnt{
  border: solid;
  border-color: black;
  border-width: 0.5px;
}

header {
    margin-top: 50px;
    position: relative;
    width: 100%;
    height: calc(100vh - 151px); //footer = 100, topmenu = 50
    max-width: 100%;
    min-height: auto;
    text-align: center;
    color: #fff;
    background-image: url('http://www.fg-a.com/wallpapers/geo-shapes-black-1280.jpg');
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    overflow-wrap: break-word;
    word-wrap: break-word;

}


header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
}

header .header-content .header-content-inner h1 {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 4em;
    color: black;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.navbar{
  margin-bottom:10px;
}

.sign-up-button{
  margin-top:50px;
}


/* footer */

footer {
  color: #fff;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #233140;
  padding: 12px;
  width: 100%;
  margin: 5px 0px 0px 0px;
}

footer a {
  color: $gray;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

footer copyright {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
  li {
    float: left;
    margin-left: 15px;
  }
}
