<%= link_to "Go home", root_path %>
<h1>User Management</h1>
<% @users.each do |user| %>
<div class="row" id = "user-mngmnt">
  <div class="col-md-12">
    <h4>Name: <%=link_to user.full_name, admin_user_path(user)%></h4>
    <p>User since: <%= user.created_at%>
    <%= link_to "View as this user", admin_user_switch_path(user)%>
  </div>
</div>
<% end %>
