<footer class="footer">
      <div class="container">
              <copyright>
                  &copy; Graham Stirling-Moffet <%= Time.now.year %>
              </copyright>
              <nav>
                <ul>
                  <% if current_user %>
                    <li>Signed in as <%= current_user.full_name %></li>
                  <%end%>
                  <% if current_user && current_user.admin? %>
                    <li><%= link_to "Admin", admin_users_path%></li>
                  <%end%>
                </ul>
              </nav>
      </div>
</footer>
